@model TwitterBackup.Web.Models.TweeterViewModels.TweeterViewModel

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
@*<link rel="stylesheet" href="~/css/tweeter.css" />*@


<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">

    <div class="card hovercard">
        <div class="cardheader" style="background: url(@Model.ProfileBannerUrl)">

        </div>
        <div class="avatar">
            <img alt="@Model.Name" src="@Model.ProfileImageUrl">
        </div>
        <div class="info">
            <div class="twPc-divUser">
                <div class="twPc-divName">
                    <a class="twName" href="https://twitter.com/@Model.ScreenName">@Model.Name</a>
                </div>
                <span>
                    <a class="twScreenName" href="https://twitter.com/@Model.ScreenName"><span>@@@Model.ScreenName</span></a>
                </span>
            </div>
            <div class="twPc-divStats">
                <ul class="twPc-Arrange">
                    <li class="twPc-ArrangeSizeFit">
                        <span class="twPc-StatLabel twPc-block">Tweets</span>
                        <span class="twPc-StatValue">@Model.TweetsCount</span>
                    </li>
                    <li class="twPc-ArrangeSizeFit">
                        <span class="twPc-StatLabel twPc-block">Followers</span>
                        <span class="twPc-StatValue">@Model.FollowersCount</span>
                    </li>
                    <li class="twPc-ArrangeSizeFit">
                        <span class="twPc-StatLabel twPc-block">Friends</span>
                        <span class="twPc-StatValue">@Model.FriendsCount</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bottom">
            @{
                if (Model.IsLikedFromUser)
                {
                    <div class="btn-following">
                        <a class="following btn-follow-pic" href="#">
                            <i class="fa fa-twitter"></i>
                            Following
                        </a>
                    </div>
                }
                else
                {
                    <div class="btn-follow">
                        <a class="btn-follow-pic" href="#">
                            <i class="fa fa-twitter"></i>
                            Follow
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</div>

