@model TwitterBackup.Web.Models.TweeterViewModels.TweeterViewModel
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="~/css/tweeter.css" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 tweeter-card">

    <div class="card hovercard">
        <div class="cardheader" style="background: url(@Model.ProfileBannerUrl)">

        </div>
        <div class="avatar">
            <img alt="@Model.Name" src="@Model.ProfileImageUrl">
        </div>
        <div class="info">
            <div class="twPc-divUser">
                <div class="twPc-divName">
                    <a class="twName" href="https://twitter.com/@Model.ScreenName">@Model.Name</a>
                </div>
                <span>
                    <a class="twScreenName" href="https://twitter.com/@Model.ScreenName"><span>@@@Model.ScreenName</span></a>
                </span>
            </div>
            <div class="twPc-divStats">
                <ul class="twPc-Arrange">
                    <li class="twPc-ArrangeSizeFit">
                        <span class="twPc-StatLabel twPc-block">Tweets</span>
                        <span class="twPc-StatValue">@Model.TweetsCount</span>
                    </li>
                    <li class="twPc-ArrangeSizeFit">
                        <span class="twPc-StatLabel twPc-block">Followers</span>
                        <span class="twPc-StatValue">@Model.FollowersCount</span>
                    </li>
                    <li class="twPc-ArrangeSizeFit">
                        <span class="twPc-StatLabel twPc-block">Friends</span>
                        <span class="twPc-StatValue">@Model.FriendsCount</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bottom">
            @{
                var action = Model.IsLikedFromUser ? "RemoveTweeterFromFavourite" : "AddTweeterToFavourite";

                <form class="tweeter-form" asp-controller="FavouriteTweeters" asp-action=@action method="post" tweeter-id="@Model.TweeterId">

                    <div class="tweeter-model-hiden-input" style="display: none;">
                        <input asp-for="TweeterId" class="form-control" />
                        <input asp-for="Name" class="form-control" />
                        <input asp-for="ScreenName" class="form-control" />
                        <input asp-for="ProfileImageUrl" class="form-control" />
                        <input asp-for="ProfileBannerUrl" class="form-control" />
                        <input asp-for="CreatedAt" class="form-control" />
                        <input asp-for="Description" class="form-control" />
                        <input asp-for="FollowersCount" class="form-control" />
                        <input asp-for="FriendsCount" class="form-control" />
                        <input asp-for="Lang" class="form-control" />
                        <input asp-for="Location" class="form-control" />
                        <input asp-for="TweetsCount" class="form-control" />
                        <input asp-for="Verified" class="form-control" />
                        <input asp-for="IsLikedFromUser" class="form-control" />
                    </div>
                    @{
                        if (Model.IsLikedFromUser)
                        {
                            <div class="follow-div">
                                <button type="submit" class="btn-tweeter btn-following btn-follow-pic" id="@Model.TweeterId">
                                    <i class="fa fa-twitter"></i>
                                    Following
                                </button>
                            </div>
                        }
                        else
                        {
                            <div class="follow-div">
                                <button type="submit" class="btn-tweeter btn-follow btn-follow-pic" id="@Model.TweeterId">
                                    <i class="fa fa-twitter"></i>
                                    Follow
                                </button>
                            </div>
                        }
                    }
                </form>
            }
        </div>
    </div>
</div>




