@model TwitterBackup.Web.Models.TweeterViewModels.TweeterViewModel
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="~/css/tweeter.css" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 tweeter-card">

    <div class="card hovercard">
        <div class="cardheader" style="background: url(@Model.ProfileBannerUrl)">

        </div>
        <div class="avatar">
            <img src="@Url.Content(Model.ProfileImageUrl)" alt="@Model.Name">
        </div>
        <div class="info">
            <div class="twPc-divUser">

                <div class="twPc-divName">
                    <a class="twName" href="https://twitter.com/@Model.ScreenName">@Model.Name</a>
                </div>
                <span>
                    <a class="twScreenName" href="https://twitter.com/@Model.ScreenName"><span>@@@Model.ScreenName</span></a>
                </span>
            </div>
            @{if (Model.IsLikedFromUser && Model.IsAdmin)
                {
                    <div style="color: red; font-style: italic; font-weight: bold">
                        Saved by @Model.UserName
                    </div>
                }
            }
            <div class="twPc-divStats">
                <ul class="twPc-Arrange">
                    <li class="twPc-ArrangeSizeFit">
                        <span class="twPc-StatLabel twPc-block">Tweets</span>
                        <span class="twPc-StatValue">@Model.TweetsCount</span>
                    </li>
                    <li class="twPc-ArrangeSizeFit">
                        <span class="twPc-StatLabel twPc-block">Followers</span>
                        <span class="twPc-StatValue">@Model.FollowersCount</span>
                    </li>
                    <li class="twPc-ArrangeSizeFit">
                        <span class="twPc-StatLabel twPc-block">Friends</span>
                        <span class="twPc-StatValue">@Model.FriendsCount</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bottom">
            @{
                var action = Model.IsLikedFromUser ? "Remove" : "AddTweeterToFavourite";
                var btnClass = Model.IsLikedFromUser ? "btn-following" : "btn-follow";
                var followBtn = Model.IsLikedFromUser ? "none" : "inline-block";
                var followingBtn = Model.IsLikedFromUser ? "inline-block" : "none";

                <form class="form-follow" asp-controller="Tweeters" asp-action=@action method="post" tweeter-id="@Model.TweeterId">
                    <div style="display: none;">
                        <input asp-for="TweeterId" class="form-control" />
                        <input asp-for="ScreenName" class="form-control" />
                    </div>
                    <div class="follow-div">
                        <button style="display: @followBtn" type="submit" class="btn-follow btn-tweeter btn-follow-pic"
                                btn-follow-id="@Model.TweeterId" id="follow@(Model.TweeterId)">
                            <i class="fa fa-twitter"></i>
                            Add To Favorite
                        </button>
                    </div>
                </form>

                <div class="follow-div">
                    <button style="display:@followingBtn" class="btn-following btn-tweeter btn-follow-pic"
                            btn-following-id="@Model.TweeterId" id="following@(Model.TweeterId)">
                        <i class="fa fa-twitter"></i>
                        Favorite
                    </button>
                </div>
                <div class="follow-div">
                    <a style="display: none" class="btn-remove btn-follow-pic" btn-remove-id="@Model.TweeterId" id="remove@(Model.TweeterId)" asp-controller="Tweeters" asp-action="Remove" method="get" asp-route-tweeterId="@Model.TweeterId" asp-route-userName="@Model.UserName" asp-route-screeneName="@Model.ScreenName" class="btn-info btn-lg" data-toggle="modal" data-target="#remove-modal">Remove</a>
                </div>
            }

        </div>
    </div>
</div>
