@model TwitterBackup.Web.Models.TweeterDbViewModel.DetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tweet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TweeterId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TweeterId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FollowersCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FollowersCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScreenName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ScreenName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TweetsCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TweetsCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Verified)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Verified)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FriendsCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FriendsCount)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.TweeterId">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
